body {
    background-color: #f3f3f3;
    height: 100%;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
  }
  
main,
.container {
  flex: 1;
}

  
  .cart-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .product-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
  
  .summary-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
  }
  
  .quantity-box {
    width: 120px;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .precio::before {
    content: "$";
  }