.title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2.1rem;
    font-weight: 700;
    color: #6d28d9;
}

.btn-outline-secondary {
  font-family: 'Rajdhani', sans-serif !important;
}

.text-purple { color: #5b21b6; font-size: 1rem;}

.btn-purple {
    background-color: #6d28d9;
    border: none;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1rem;
    padding: 0.65rem;
}

.btn-purple:hover {
    background-color: #5b21b6;
    box-shadow: 0 0 0 3px rgba(109, 40, 217, 0.2);
    color: #fff;
}

.text-purple      { color: #8b5cf6; font-family: 'Rajdhani', sans-serif; }